<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LegalDB</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/ej/web/bootstrap-theme/ej.web.all.min.css")
    @Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
    @Scripts.Render("~/Scripts/jsrender.min.js")
    @Scripts.Render("~/Scripts/ej/ej.web.all.min.js")


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="width:100%">
    <div class="navbar navbar-inverse navbar-fixed-top" style="width: 100%">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="logo" HorizontalAlignment="Left" src="~/Images/logo-white.png" alt="" />&nbsp;&nbsp;
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Civil<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            <li>@Html.ActionLink("Advertizing", "Index", "Home")</li>
                            <li>@Html.ActionLink("ParaLegal", "ICCallLog", "ICCallLogs")</li>
                            <li>@Html.ActionLink("Attorney", "Index", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">PI<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Advertizing", "Index", "Home")</li>
                            <li>@Html.ActionLink("ParaLegal", "Index", "Home")</li>
                            <li>@Html.ActionLink("Attorney", "Index", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Employee &nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Employee List", "Index", "Home")</li>
                            <li>@Html.ActionLink("My Info", "Index", "Home")</li>
                        </ul>
                    </li>
                    @*<li>@Html.ActionLink("User", "User", "Home")</li>*@
                </ul>
                @Html.Partial("_LayoutPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="width:100%">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - LegalDB Web Application</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
