@{
    ViewBag.Title = "Civil / Advertising";
}
<div class="container">
    <h3>@ViewBag.Title</h3>

    <div class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Auto Scraper", "AutoScraper", "CivilAdvertising")</li>
            <li>@Html.ActionLink("Data Entry", "DataEntry", "CivilAdvertising")</li>
            <li>@Html.ActionLink("Check Letter", "CheckLetter", "CivilAdvertising")</li>
            <li>@Html.ActionLink("Print Letter", "PrintLetter", "CivilAdvertising")</li>
            <li>@Html.ActionLink("Check Court", "CheckCourt", "CivilAdvertising")</li>
            <li>@Html.ActionLink("Report", "Report", "CivilAdvertising")</li>
        </ul>
    </div>
</div>