@model IEnumerable<LegalDB.Models.Jurisdiction>

@Html.Partial("_PageHeader")

<div class="container">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Abbr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastRecNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastRunTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastRunStatus)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Abbr)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.LastRecNo)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.LastRunTime)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.LastRunStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    
                </td>
            </tr>
        }
    </table>
    
</div>

@Ajax.ActionLink("Edit", "Edit1", new { id = 1 }, new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "divEditJurisdiction", InsertionMode = InsertionMode.Replace })
<div id="divEditJurisdiction"></div>

@*@section Scripts
    {
    <script>

    </script>
    }*@