@model LegalDBWeb.Models.ICCallLog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ICCallLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CallerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallerPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallerPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LtrID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LtrID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocketFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocketFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sched)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sched)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApmtLawyerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApmtLawyerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApmtOfficeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApmtOfficeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConAtty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConAtty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tickler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tickler)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
