@using LegalDBWeb.Models
@using Syncfusion.JavaScript.Models
@using Syncfusion.XlsIO.Parser.Biff_Records
@model IEnumerable<LegalDBWeb.Models.ICCallLog>

@{
    ViewBag.Title = "IC CallLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@model LegalDB.Models.Tab
    @using System.Drawing
    <h2>@ViewBag.Title.</h2>*@

@using (Html.BeginForm("ICCallLog", "ICCallLog", FormMethod.Post))
{
    <script>
        $(document).ready(function () {
            activaTab('tabs-1');
        });

        function activaTab(tab) {
            $('.nav-tabs a[href="#' + tab + '"]').tab('show');
        };
    </script>
    <style>
        div.generic {
            background: #ADD8E6;
            width: 720px;
            padding-left: 5px;
        }
    </style>
    <div class="generic" style="border: 1px solid black">
        @*<div>&nbsp;</div>*@
        <div>
            <br />
            <button id="Button1" class="e-button" style="width: 32px"><img src="\images\DataContainer_MoveFirstHS.png" /></button>
            <button id="Button2" class="e-button" style="width: 32px"><img src="\images\DataContainer_MovePreviousHS.png" /></button>
            <button id="Button3" class="e-button" style="width: 32px"><img src="\images\DataContainer_MoveNextHS.png" /></button>
            <button id="Button4" class="e-button" style="width: 32px"><img src="\images\DataContainer_MoveLastHS.png" /></button>
            &emsp;
            <button id="Button5" class="e-button" style="width: 32px"><img src="\images\Open_16x16.png" /></button>
            <button id="Button6" class="e-button" style="width: 30px"><img src="\images\saveHS.png" /></button>
            <button id="Button7" class="e-button" style="width: 30px"><img src="\images\Undo16.png" /></button>
            <button id="Button8" class="e-button" style="width: 30px"><img src="\images\Exit.png" /></button>
            <button id="Button9" class="e-button" style="width: 30px"><img src="\images\Print_16x16.png" /></button>
        </div>
        <div>
            &nbsp;
            <label>1st</label>&emsp;&nbsp;<label>Prv</label>&emsp;<label>Nxt</label>&emsp;<label>Lst</label>
            &emsp;
            <label>New</label>&nbsp;<label>Save</label>&nbsp;<label>Undo</label>&nbsp;<label>Del</label>&emsp;<label>Prt</label>
        </div>
        <div>
            <label>Record</label>&emsp;<label>000000</label>&nbsp;<label>of</label>&nbsp;<label>000000</label>
        </div>
    </div>
    <div id="tabpanel1" class="tabpanel" style="background: #ADD8E6; width: 100%;">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tabs-1" aria-controls="tabs-1" role="tab" data-toggle="tab">IC CallLog</a></li>
            <li role="presentation"><a href="#tabs-2" aria-controls="tabs-2" role="tab" data-toggle="tab">Letter</a></li>
            <li role="presentation"><a href="#tabs-3" aria-controls="tab-3" role="tab" data-toggle="tab">Schedule</a></li>
        </ul>
        <div class="tab-content" style="border: 1px solid black">
            <div id="tabs-1" role="tabpanel" class="tab-pane active">
                <table border="0" cellpadding="1" cellspacing="1" style="height: 30px; width: 692px">
                    <tbody>
                        <tr>
                            <td>
                                <label style="height: 22px; width: 50px">PNCID:&nbsp;</label>
                                @Html.EJ().CurrencyTextbox("currency").Value("50")
                                @*<input name="PNCID" size="1" style="height: 22px; width: 151px" type="text" />*@
                            </td>
                            <td style="white-space: nowrap">
                                <label style="height: 22px; width: 53px">Rec No:&nbsp;</label>
                                <input name="PNCID" size="1" style="height: 22px; width: 135px" type="text" />
                            </td>
                            <td style="white-space: nowrap">
                                <label style="height: 22px; width: 50px">Answered By:&nbsp;</label>
                                @Html.EJ().DropDownList("AnswBy").TargetID("carsList").ShowCheckbox().EnableRTL(false).Width("150px")
                                @*<select name="AnswBy" style="width: 110px"></select>*@
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" style="height: 83px; width: 702px">
                    <tbody>
                        <tr>
                            <td><label style="height: 21px; width: 404px">Last Sir, HFirst &amp;&amp; WFirst Middle (Doe Jr., John &amp;&amp; Mary E)</label></td>
                            <td>&nbsp;</td>
                            <td style="white-space: nowrap">&nbsp;</td>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td><label style="height: 19px; width: 404px">Last Sir, HFirst &amp;&amp; WFirst Middle (Doe Jr., John &amp;&amp; Mary E)</label></td>
                            <td>&nbsp;</td>
                            <td><label>Caller ID:</label></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><label style="height: 19px; width: 368px">Last Sir, First1_First2 Middle (Doe II, Mary_Ann E)</label></td>
                            <td>&nbsp;</td>
                            <td><input name="CalerID" size="1" style="height: 22px; width: 129px" type="text" /><input alt="" size="1" src="/LegalDB\WebLegalDB/Legaldb\images/Find_16x16.png" style="border-top: 2px solid; height: 20px; border-right: 2px solid; width: 25px; border-bottom: 2px solid; border-left: 2px solid" type="image" /></td>
                            <td><label>Phone No:</label></td>
                        </tr>
                    </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" style="height: 25px; width: 692px">
                    <tbody>
                        <tr>
                            <td colspan="6"><label>Name:&nbsp;</label><input name="CallName" size="1" style="height: 22px; width: 466px" type="text" /></td>
                            <td><input alt="" size="1" src="/LegalDB\WebLegalDB/Legaldb\images/Find_16x16.png" style="border-top: 2px solid; height: 20px; border-right: 2px solid; width: 25px; border-bottom: 2px solid; border-left: 2px solid" type="image" /></td>
                            <td><input name="CallPhn" size="1" style="height: 22px; width: 149px" type="text" /></td>
                        </tr>
                    </tbody>
                </table>

                <table border="0" cellpadding="1" cellspacing="1" style="height: 83px; width: 692px">
                    <tbody>
                        <tr>
                            <td style="text-align: center"><label>Referred From:</label></td>
                            <td colspan="2" style="text-align: center"><label>Case No:</label></td>
                            <td style="text-align: center"><label>Case Type:</label></td>
                            <td style="text-align: center"><label>IC Status:</label></td>
                        </tr>
                        <tr>
                            <td style="white-space: nowrap"><select style="width: 143px">?</select></td>
                            <td style="white-space: nowrap"><input size="1" style="height: 22px; width: 134px" type="text" /></td>
                            <td style="white-space: nowrap"><input alt="" size="1" src="/LegalDB\WebLegalDB/Legaldb\images/Find_16x16.png" style="border-top: 2px solid; height: 20px; border-right: 2px solid; width: 25px; border-bottom: 2px solid; border-left: 2px solid" type="image" /></td>
                            <td style="white-space: nowrap"><select style="width: 140px">?</select></td>
                            <td style="white-space: nowrap"><select style="width: 147px">?</select></td>
                        </tr>
                        <tr>
                            <td><label>Email Address (if applicable)</label></td>
                        </tr>
                        <tr>
                            <td colspan="8"><input size="1" style="height: 22px; width: 667px" type="text" /></td>
                        </tr>
                    </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" style="height: 52px; width: 692px">
                    <tbody>
                        <tr>
                            <td><label>Connected To:&nbsp;</label></td>
                            <td><select style="width: 164px">?</select></td>
                            <td style="white-space: nowrap"><label style="height: 22px; width: 53px">Rec No:&nbsp;</label><select style="width: 164px">?</select></td>
                            <td colspan="2"><input type="checkbox" /><label>Scheduled</label></td>
                        </tr>
                        <tr>
                            <td><label>Call Date:&nbsp;</label></td>
                            <td>
                                @Html.EJ().DatePicker("DatePick").EnablePersistence(true).Value(ViewBag.datevalue)
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" style="height: 52px; width: 692px">
                    <tbody>
                        <tr>
                            <td colspan="8">
                                <table border="0" cellpadding="1" cellspacing="1" style="height: 56px; width: 24.7%">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center"><label>Schedule Date:</label></td>
                                            <td colspan="2" style="text-align: center"><label>Schedule Time:</label></td>
                                            <td style="text-align: center"><label>Assigned To:</label></td>
                                            <td style="text-align: center"><label>Office:</label></td>
                                        </tr>
                                        <tr>
                                            <td style="white-space: nowrap">
                                                @Html.EJ().DatePicker("DatePick").DateFormat("MM/dd/yyyy").ShowOtherMonths(true).EnableRTL(true).Locale("en-US")
                                            </td>
                                            <td style="white-space: nowrap">
                                                @Html.EJ().TimePicker("TimePick").Locale("en-US").EnableRTL(true)
                                            </td>
                                            <td style="white-space: nowrap">&nbsp;</td>
                                            <td style="white-space: nowrap"><select style="width: 155px">?</select></td>
                                            <td style="white-space: nowrap"><select style="width: 179px">?</select></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <input size="1" style="height: 94px; width: 699px" type="text" />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" style="height: 52px; width: 692px">
                    <tbody>
                        <tr>
                            <td colspan="8">
                                <table border="0" cellpadding="1" cellspacing="1" style="height: 56px; width: 102.21%">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center"><label>ReSchedule Date:</label></td>
                                            <td colspan="2" style="text-align: center"><label>RESchedule Time:</label></td>
                                            <td style="text-align: center"><label>Assigned To:</label></td>
                                            <td style="text-align: center"><label>Office:</label></td>
                                        </tr>
                                        <tr>
                                            <td style="white-space: nowrap">
                                                @Html.EJ().DatePicker("DatePick").EnablePersistence(true).Value(ViewBag.datevalue)
                                            </td>
                                            <td style="white-space: nowrap">
                                                @Html.EJ().TimePicker("TimePick")
                                            </td>
                                            <td style="white-space: nowrap">&nbsp;</td>
                                            <td style="white-space: nowrap"><select style="width: 145px">?</select></td>
                                            <td style="white-space: nowrap"><select style="width: 145px">?</select></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>&nbsp;</div>
            </div>
            <div id="tabs-2" role="tabpanel" class="tab-pane">
                <div>
                    &emsp;<label>Case No:</label><input id="Text1" type="text" /><label>File Date:</label><input id="Text1" type="text" /><label>Ltr ID:</label><input id="Text1" type="text" />
                </div>
                <div>
                    &emsp;&emsp;<label>Docket:</label><input id="Text1" type="text" />
                </div>
                <div>
                    <label>First Name:</label><input id="Text1" type="text" /><label>MI:</label><input id="Text1" type="text" /><label>Last Name:</label><input id="Text1" type="text" />
                </div>
                <div>
                    &emsp;<label style="Height: 30px;">Address:</label><textarea id="TextArea1" rows="4" cols="60"></textarea>
                </div>
                <div>
                    &emsp;&emsp;&nbsp;&emsp;<label>City:</label><input id="Text1" type="text" /><label>ST:</label><input id="Text1" type="text" /><label>Zip:</label><input id="Text1" type="text" />
                </div>
                <div>
                    <label>Prayer Amount:</label><input id="Text1" type="text" />
                </div>
                <div>
                    &nbsp;&emsp;<label>Plaintiff:</label><input id="Text1" type="text" /><label>Sending Office:</label>
                </div>
                <div>
                    &emsp;<label>Address:</label><textarea id="TextArea1" rows="4" cols="60">&emsp;</textarea><input id="Text1" type="text" />
                </div>
                <div>
                    <label>Plaintiff Att:</label><input id="Text1" type="text" /><label>&emsp;Letter Ver:</label><input id="Text1" type="text" />
                </div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
            </div>
            <div id="tabs-3" role="tabpanel" class="tab-pane">
                @*@(Html.EJ().Schedule("Schedule1")
                .Width("100%")
                .Height("525px")
                .CurrentDate(new DateTime(2015, 11, 12))
                .AppointmentSettings(fields => fields.Datasource(ds => ds.URL("/ICCallLogs/GetApp").CrudURL("/ICCallLogs/Batch").Adaptor("UrlAdaptor"))
                .Id("Id")
                .Subject("Subject")
                .StartTime("StartTime")
                .EndTime("EndTime")
                .Description("Description")
                .AllDay("AllDay")
                .Recurrence("Recurrence")
                .RecurrenceRule("RecurrenceRule"))
                )*@


            </div>
        </div>
    </div>
}
