@model IEnumerable<LegalDBWeb.Models.ICCallLog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CallerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CallerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CallSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LtrID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocketFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaseNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ICStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sched)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApmtLawyerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApmtOfficeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConAtty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tickler)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CallerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CallerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CallSource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LtrID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocketFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ICStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sched)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApmtLawyerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApmtOfficeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConAtty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tickler)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
