@using LegalDB.Models
@using Syncfusion.JavaScript.Models
@using Syncfusion.XlsIO.Parser.Biff_Records
@model IEnumerable<LegalDB.Models.ICCallLog>
@using GridMvc.Html




@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<script src="~/Scripts/jsondata.min.js">
</script>
<script type="text/javascript">
    window.onload = function () {
        var elements = document.querySelectorAll("[unselectable]");
        elements.forEach(function (element) {
            element.removeAttribute('unselectable');
        });
    }

    $(function () {
        window.rowSelected = function (args) {
            var ID = args.data.ID;
            var detaildata = ej.DataManager(window.gridData).executeLocal(ej.Query().where("ID", ej.FilterOperators.equal, ID, false).t.take(10));
            var gridObj = $("#FlatGrid").ejGrid("instance");
            gridObj.dataSource(ej.DataManager(detaildata.slice(0, 5)));
        }
    });

    function OnRecordSelect() {
        var obj = $("#FlatGrid").ejGrid("instance");
        //getSelectedRecords method will display the selected row in a grid
        document.getElementById("PNCID").value = obj.getSelectedRecords()[0].ID.toString();
        document.getElementById("RecNo").value = obj.getSelectedRecords()[0].ID.toString();
        document.getElementById("AnswBy").value = obj.getSelectedRecords()[0].EmployeeID;
        document.getElementById("CallerID").value = obj.getSelectedRecords()[0].DucumentID;
        document.getElementById("CallPhn").value = obj.getSelectedRecords()[0].CallerPhone;
        document.getElementById("CallName").value = obj.getSelectedRecords()[0].CallerName;
        document.getElementById("Email").value = obj.getSelectedRecords()[0].EmailAddr;
        document.getElementById("RefFrom").value = obj.getSelectedRecords()[0].CallSource;
        document.getElementById("CaseNo").value = obj.getSelectedRecords()[0].CaseNo;
        document.getElementById("CaseType").value = obj.getSelectedRecords()[0].CaseType;
        document.getElementById("IcStat").value = obj.getSelectedRecords()[0].ICStatus;
        document.getElementById("SchedCall").checked = obj.getSelectedRecords()[0].SchedCall;
        document.getElementById("SchedDate").value = obj.getSelectedRecords()[0].SchedDate;
        document.getElementById("SchedTime").value = obj.getSelectedRecords()[0].SchedTime;
        document.getElementById("Assigned").value = obj.getSelectedRecords()[0].LawyerID;
        document.getElementById("ApmOffice").value = obj.getSelectedRecords()[0].ApmtOffice;
        document.getElementById("ConAtty").value = obj.getSelectedRecords()[0].ConAtty;
        document.getElementById("CallDate").value = obj.getSelectedRecords()[0].ContactDate;
        document.getElementById("Notes").value = obj.getSelectedRecords()[0].Notes;
        //alert(obj.getSelectedRecords()[0].ID);
        //alert(obj.getSelectedRecords()[0].EmployeeID);
        //alert(obj.getSelectedRecords()[0].FName);
        //alert(obj.getSelectedRecords()[0].LName);

    }
</script>
<script>
    $(document).ready(function () {
        activaTab('tabs-1');
    });

    function activaTab(tab) {
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };
</script>
<style>
    div.generic {
        background: #ADD8E6;
        width: 720px;
        padding-left: 5px;
    }
</style>
<style>
    .codeInsert {
        height: 22px;
        width: 100px;
        display: block;
        text-align: center;
        font-weight: bold;
    }

    #srcCode {
        height: 250px;
    }
</style>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

     $(document).ready(function () {
         $('input[type=datetime]').datepicker({
             dateFormat: "dd/M/yy",
             changeMonth: true,
             changeYear: true,
             yearRange: "-60:+0"
         });

     });
    </script>

}

  

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<div style="width:100%">
    <table class="table" style="width:704px">
        <tr>
            <td style="width:704px;visibility:hidden">
                @Html.Grid(Model).AutoGenerateColumns().WithPaging(1)
                @*@(Html.EJ().Grid<ICCallLog>
                        ("FlatGrid")
                        .Datasource((IEnumerable<object>
                            )ViewBag.DataSource)
                            .AllowPaging()
                            .IsResponsive()
                            //.SelectedRowIndex(0)
                            .PageSettings(paging => paging.PageSize(1))
                            .PageSettings(paging => paging.PageCount(1))
                            .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing(); })
                            .ClientSideEvents(evt => evt.RowSelected("OnRecordSelect"))
                            //.ClientSideEvents(evt=>evt.OnRecordSelectionEvent(“OnRecordSelect”))

                            .ToolbarSettings(toolbar =>
                            {
                                toolbar.ShowToolbar().ToolbarItems(items =>
                                {
                                    items.AddTool(ToolBarItems.Add);
                                    items.AddTool(ToolBarItems.Edit);
                                    items.AddTool(ToolBarItems.Delete);
                                    items.AddTool(ToolBarItems.Update);
                                    items.AddTool(ToolBarItems.Cancel);
                                });
                            })
                            .Columns(col =>
                            {
                                col.Field("ID").HeaderText("ID").IsPrimaryKey(true).Add();
                                col.Field("CallerName").HeaderText("Caller Name").Add();
                                col.Field("FName").HeaderText("First Name").Add();
                                col.Field("MName").HeaderText("Minit").Add();
                                col.Field("LName").HeaderText("Last Name").Add();
                                col.Field("CallerPhone").HeaderText("Phone").Add();
                                col.Field("EmailAddr").HeaderText("Email").Add();
                                col.Field("EmployeeID").HeaderText("Employee ID").Add();
                                col.Field("CallSource").HeaderText("Call Source").Add();
                                col.Field("DucumentID").HeaderText("Letter ID").Add();
                                col.Field("DocketFrom").HeaderText("Docket").Add();

                                col.Field("CaseNo").HeaderText("Case No").Add();
                                col.Field("CaseType").HeaderText("Case Type").Add();
                                col.Field("ICStatus").HeaderText("IC Status").Add();
                                col.Field("SchedCall").HeaderText("Scheduled").Add();
                                col.Field("SchedDate").HeaderText("Schedule Date").Add();
                                col.Field("SchedTime").HeaderText("Schedule Time").Add();
                                col.Field("LawyerID").HeaderText("Appmt Lawyer").Add();
                                col.Field("ApmtOffice").HeaderText("Appmt Office").Add();
                                col.Field("ConAtty").HeaderText("Contact Attny").Add();
                                col.Field("ContactDate").HeaderText("Contact Date").Add();
                                col.Field("Notes").HeaderText("Notes").Add();
                                col.Field("Tickler").HeaderText("Tickler").Add();

                            }))*@
            </td>
        </tr>
    </table>
</div>
<div class="generic" style="border: 1px solid black">
    @*<div>&nbsp;</div>*@
    <div>
        <br />
        <button id="btnFirst" class="e-button" style="width: 32px">
            @*<span class="glyphicon glyphicon-step-backward"></span>*@
            <img src="\images\DataContainer_MoveFirstHS.png" />
        </button>
        <button id="btnPrev" class="e-button" style="width: 32px">
            @*<span class="glyphicon glyphicon-triangle-left"></span>*@
            <img src="\images\DataContainer_MovePreviousHS.png" />
        </button>
        <button id="btnNext" class="e-button" style="width: 32px">
            @*<span class="glyphicon glyphicon-triangle-right"></span>*@
            <img src="\images\DataContainer_MoveNextHS.png" />
        </button>
        <button id="btnLast" class="e-button" style="width: 32px">
            @*<span class="glyphicon glyphicon-step-forward"></span>*@
            <img src="\images\DataContainer_MoveLastHS.png" />
        </button>
        &emsp;
        <button id="btnNew" class="e-button" style="width: 32px">
            @*<span class="glyphicon glyphicon-folder-open"></span>*@
            <img src="\images\Open_16x16.png" />
        </button>
        <button id="btnSave" class="e-button" style="width: 30px">
            @*<span class="glyphicon glyphicon-floppy-save"></span>*@
            <img src="\images\saveHS.png" />
        </button>
        <button id="btnUndo" class="e-button" style="width: 30px">
            @*<span class="e-icon e-undo_01"></span>*@
            <img src="\images\Undo16.png" />
        </button>
        <button id="btnDel" class="e-button" style="width: 30px">
            @*<span class="glyphicon glyphicon-floppy-remove"></span>*@
            <img src="\images\Exit.png" />
        </button>
        <button id="btnPrt" class="e-button" style="width: 30px">
            @*<span class="glyphicon glyphicon-print"></span>*@
            <img src="\images\Print_16x16.png" />
        </button>
    </div>
    <div>
        &nbsp;
        <label>1st</label>&emsp;&nbsp;<label>Prv</label>&emsp;<label>Nxt</label>&emsp;<label>Lst</label>
        &emsp;
        <label>New</label>&nbsp;<label>Save</label>&nbsp;<label>Undo</label>&nbsp;<label>Del</label>&emsp;<label>Prt</label>
    </div>
    <div>
        <div class="e-numericcontainer e-default" unselectable="no">
            <a class="e-link e-numericitem e-spacing e-currentitem e-active e-animate" role="link" style=""></a>
            <label>Record</label>&emsp;
            <label>000000</label>&nbsp;<label>of</label>&nbsp;<label>000000</label>
            @*@Html.EJ().MaskEdit("RecID").Value("").Height("22px")*@
        </div>
    </div>
</div>
<div id="tabpanel1" class="tabpanel" style="background: #ADD8E6; width: 720px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tabs-1" aria-controls="tabs-1" role="tab" data-toggle="tab">IC CallLog</a></li>
        <li role="presentation"><a href="#tabs-2" aria-controls="tabs-2" role="tab" data-toggle="tab">Letter</a></li>
        <li role="presentation"><a href="#tabs-3" aria-controls="tab-3" role="tab" data-toggle="tab">Schedule</a></li>
    </ul>
    <div class="tab-content" style="border: 1px solid black">
        <div id="tabs-1" role="tabpanel" class="tab-pane active">
            <table style="height: 25px; width: 720px">
                <tbody>
                    <tr>
                        <td>
                            <label style=" height 22px; width 50px">
                                PNCID:&nbsp;
                            </label>
                        </td>
                        <td>
                            @Html.EJ().MaskEdit("PNCID").Value("").Height("22px")
                            @*<input name="PNCID" size="1" style="height: 22px; width: 151px" type=m"text" />*@
                        </td>
                        <td style="white-space: nowrap">
                            <label style="height: 22px; width: 53px">Rec No:&nbsp;</label>
                        </td>
                        <td>
                            @Html.EJ().MaskEdit("RecNo").Value("").Height("22px")
                        </td>
                        <td style="white-space: nowrap">
                            <label style="height: 22px; width: 85px">Answered By:&nbsp;</label>
                        </td>
                        <td>
                            @Html.DropDownList("AnswBy","Select an Employee")
                        </td>
                    </tr>
                </tbody>
            </table>

            <table style="height: 83px; width: 720px">
                <tbody>
                    <tr>
                        <td><label style="height: 21px; width: 404px">Last Sir, HFirst &amp;&amp; WFirst Middle (Doe Jr., John &amp;&amp; Mary E)</label></td>
                    </tr>
                    <tr>
                        <td>
                            <label style="height: 19px; width: 404px">Last Sir, HFirst &amp;&amp; WFirst Middle (Doe Jr., John &amp;&amp; Mary E)</label>
                        </td>
                        @*<td><label>Caller ID:</label></td>*@
                        @*<td>&nbsp;<label>Caller ID:</label>&nbsp;</td>*@
                        @*<td>&nbsp;</td>*@
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <label style="height: 19px; width: 404px">Last Sir, First1_First2 Middle (Doe II, Mary_Ann E)</label>
                            <label>Caller ID:</label>
                            @Html.EJ().MaskEdit("CallerID").Value("").Height("22px").Width("104px")
                            <input alt="" size="1" src="\images\Find_16x16.png" style="border-top: 2px solid; height: 20px; border-right: 2px solid; width: 25px; border-bottom: 2px solid; border-left: 2px solid" type="image" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="height: 25px; width: 702px">
                                <tbody>
                                    <tr style="white-space: nowrap">
                                        @*
                                            <td colspan="5" style="white-space: nowrap">*@
                                        <td style="width: 10px"><label style="width: 40px">Name</label></td>
                                        <td colspan="4" style="white-space: nowrap;width:504px">@Html.EJ().MaskEdit("CallName").Value("").Height("22px").Width("504px")</td>
                                        @*
                                            <input name="CallName" size="1" style="height: 22px; width: 466px" type="text" />*@
                                        <td>
                                            <input alt="" size="1" src="\images\Find_16x16.png" style="border-top: 2px solid; height: 20px; border-right: 2px solid; width: 25px; border-bottom: 2px solid; border-left: 2px solid" type="image" />
                                        </td>
                                        <td>&nbsp;<label style="width: 200px;padding-bottom:4px">Phone No:</label>
                                        @Html.EJ().MaskEdit("CallPhn").Value("").Height("22px").InputMode(InputMode.Text).MaskFormat("(999)999-9999").CustomCharacter("$").WatermarkText("(999)999-9999").Height("22px").Width("134px")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><label>Email Address (if applicable)</label></td>
                                    </tr>
                                    <tr>
                                        <td colspan="8">@Html.EJ().MaskEdit("Email").Value("").Height("22px").Width("667px")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>


            <table style="height: 52px; width: 692px">
                <tbody>
                    <tr>
                        <td colspan="8">
                            <table style="height: 52px; width: 24.7%">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center"><label>Referred From:</label></td>
                                        <td colspan="2" style="text-align: center"><label>Case No:</label></td>
                                        <td style="text-align: center"><label>Case Type:</label></td>
                                        <td style="text-align: center"><label>IC Status:</label></td>
                                    </tr>
                                    <tr>
                                        <td style="white-space: nowrap">
                                            @Html.DropDownList("RefFrom", "Select a Call Source")
                                            @*@Html.EJ().DropDownList("RefFrom").Datasource((IEnumerable<v_callsource>)ViewBag.datasource6).DropDownListFields(df => df.ID("ID").Text("Descr").Value("ID")).WatermarkText("Select a Call Source").Width("143px").Height("22px")*@
                                        </td>
                                        <td style="white-space: nowrap">@Html.EJ().MaskEdit("CaseNo").Value("").Height("22px").Width("134px")</td>
                                        <td style="white-space: nowrap"><input alt="" size="1" src="\images\Find_16x16.png" style="border-top: 2px solid; height: 20px; border-right: 2px solid; width: 25px; border-bottom: 2px solid; border-left: 2px solid" type="image" /></td>
                                        <td style="white-space: nowrap">
                                            @Html.DropDownList("CaseType", "Select a Case Type")
                                            @*@Html.EJ().DropDownList("CaseType").Datasource((IEnumerable<v_casetype>)ViewBag.datasource5).DropDownListFields(df => df.ID("CaseCode").Text("CaseDesc").Value("CaseCode")).WatermarkText("Select a Case Type").Width("143px").Height("22px")*@
                                        </td>
                                        <td style="white-space: nowrap">
                                            @Html.DropDownList("IcStat", "Select a Status")
                                            @*@Html.EJ().DropDownList("IcStat").Datasource((IEnumerable<v_icstat>)ViewBag.datasource7).DropDownListFields(df => df.ID("ID").Text("Descr").Value("ID")).WatermarkText("Select a Status").Width("143px").Height("22px")*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table style="height: 46px; width: 692px">
                <tbody>
                    <tr>
                        <td align="right"><label>&nbsp;Connected To:&nbsp;</label></td>
                        <td colspan="2" style="white-space: nowrap">
                            @Html.DropDownList("ConAtty", "Select an Attorney")
                            @*@Html.EJ().DropDownList("ConAtty").Datasource((IEnumerable<v_attny>)ViewBag.datasource8).DropDownListFields(df => df.ID("LawyerID").Text("FirstName").Value("LawyerID")).WatermarkText("Select an Attorney").Width("143px").Height("22px")*@
                        </td>
                        <td style="white-space: nowrap">
                            @Html.DropDownList("ConOffice", "Select an Office")
                            @*@Html.EJ().DropDownList("ApmOffice").Datasource((IEnumerable<v_icoffice>)ViewBag.datasource9).DropDownListFields(df => df.ID("OfficeID").Text("OfficeName").Value("OfficeID")).WatermarkText("Select an Office").Width("143px").Height("22px")*@
                        </td>
                        @*
                            <td style="white-space: nowrap"><label style="height: 22px; width: 53px">Rec No:&nbsp;</label><select style="width: 164px">?</select></td>*@
                        @*
                            <td style="white-space: nowrap">@Html.EJ().CheckBox("SchedCall").CssClass("nodetext").Text("Scheduled").Checked(false)</td>*@
                        <td colspan="2" class="checkbox">
                            @*@Html.EJ().CheckBox("SchedCall").Name("SchedCall")*@
                            <input id="SchedCall" type="checkbox" checked="" />
                            <label for="SchedCall" class="clslab">Scheduled</label>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label>&nbsp;Call Date:&nbsp;</label></td>
                        <td>
                            @*@Html.EJ().DatePicker("CallDate").EnablePersistence(true).Height("22px").Value(ViewBag.datevalue).DateFormat("MM/dd/yyyy")*@
                            <input id="CallDate" type="text" value="" class="datepicker"/>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>

            <table style="height: 52px; width: 692px">
                <tbody>
                    <tr>
                        <td colspan="8">
                            <table style="height: 56px; width: 24.7%">
                                <tbody>
                                    <tr>
                                        &nbsp;
                                        <td style="text-align: center"><label>Schedule Date:</label></td>
                                        <td colspan="2" style="text-align: center"><label>Schedule Time:</label></td>
                                        <td style="text-align: center"><label>Assigned To:</label></td>
                                        <td style="text-align: center"><label>Office:</label></td>
                                    </tr>
                                    <tr>
                                        <td style="white-space: nowrap">@Html.EJ().DatePicker("SchedDate").DateFormat("MM/dd/yyyy").ShowOtherMonths(true).Locale("en-US").EnablePersistence(true).Height("22px").Value(ViewBag.datevalue)</td>
                                        <td style="white-space: nowrap">@Html.EJ().TimePicker("SchedTime").Locale("en-US").EnablePersistence(true).TimeFormat("hh:mm:ss tt").MinTime("9:00 AM").MaxTime("5:30 PM").MinutesInterval(30).Height("22px").Value(ViewBag.SchedTime)</td>
                                        <td style="white-space: nowrap">&nbsp;</td>
                                        @*
                                            <td style="white-space: nowrap">@Html.DropDownList("Assigned", ViewBag.Datasource2, "Select an Attorney","Width('143px').Height('22px')")</td>*@
                                        <td style="white-space: nowrap">
                                            @*@Html.EJ().DropDownList("Assigned").Datasource((IEnumerable<v_lawyers>
                                                )ViewBag.datasource2).DropDownListFields(df => df.ID("LawyerID").Text("FirstName").Value("LawyerID")).WatermarkText("Select an Attorney").Width("143px").Height("22px")*@
                                            @Html.DropDownList("Assigned", "Select an Attorney")
                                        </td>
                                        <td style="white-space: nowrap">
                                            @Html.DropDownList("ApmOffice", "Select an Office")
                                            @*@Html.EJ().DropDownList("ApmOffice").Datasource((IEnumerable<v_icoffice>)ViewBag.datasource9).DropDownListFields(df => df.ID("OfficeID").Text("OfficeName").Value("OfficeID")).WatermarkText("Select an Office").Width("143px").Height("22px")*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="width:100%">
                <textarea cols="50" name="Notes" rows="5" style="height: 86px; width: 704px"></textarea>
            </div>
            @*table style="height: 56px; width: 692px">
                <tbody>
                    <tr>
                        <td width="692px">
                            @*<textarea id="Notes" style="width: 100%; height: 100%" rows="5" cols="50"></textarea>*@
            @*@Html.TextArea("Notes", null, new { style = "width: 692px", rows = "5", cols = "100" })*@
            @*
                        </td>
                    </tr>
                </tbody>
                </table>*@

            <div>
                <table style="height: 52px; width: 692px">
                    <tbody>
                        <tr>
                            <td colspan="8">
                                <table style="height: 56px; width: 102.21%">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center"><label>ReSchedule Date:</label></td>
                                            <td colspan="2" style="text-align: center"><label>RESchedule Time:</label></td>
                                            <td style="text-align: center"><label>Assigned To:</label></td>
                                            <td style="text-align: center"><label>Office:</label></td>
                                        </tr>
                                        <tr>
                                            <td style="white-space: nowrap">
                                                @Html.EJ().DatePicker("DatePick").EnablePersistence(true).Height("22px").Value(ViewBag.datevalue)
                                            </td>
                                            <td style="white-space: nowrap">
                                                @Html.EJ().TimePicker("TimePick").Height("22px").TimeFormat("hh:mm")
                                            </td>
                                            <td style="white-space: nowrap">&nbsp;</td>
                                            <td style="white-space: nowrap"><select style="width: 145px">?</select></td>
                                            <td style="white-space: nowrap"><select style="width: 145px">?</select></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>&nbsp;</div>
        </div>
        <div id="tabs-2" role="tabpanel" class="tab-pane">
            <div>
                &emsp;<label>Case No:</label><input id="Text1" type="text" /><label>File Date:</label><input id="Text1" type="text" /><label>Ltr ID:</label><input id="Text1" type="text" />
            </div>
            <div>
                &emsp;&emsp;<label>Docket:</label><input id="Text1" type="text" />
            </div>
            <div>
                <label>First Name:</label><input id="Text1" type="text" /><label>MI:</label><input id="Text1" type="text" /><label>Last Name:</label><input id="Text1" type="text" />
            </div>
            <div>
                &emsp;<label style="Height: 30px;">Address:</label><textarea id="TextArea1" rows="4" cols="60"></textarea>
            </div>
            <div>
                &emsp;&emsp;&nbsp;&emsp;<label>City:</label><input id="Text1" type="text" /><label>ST:</label><input id="Text1" type="text" /><label>Zip:</label><input id="Text1" type="text" />
            </div>
            <div>
                <label>Prayer Amount:</label><input id="Text1" type="text" />
            </div>
            <div>
                &nbsp;&emsp;<label>Plaintiff:</label><input id="Text1" type="text" /><label>Sending Office:</label>
            </div>
            <div>
                &emsp;<label>Address:</label><textarea id="TextArea1" rows="4" cols="60">&emsp;</textarea><input id="Text1" type="text" />
            </div>
            <div>
                <label>Plaintiff Att:</label><input id="Text1" type="text" /><label>&emsp;Letter Ver:</label><input id="Text1" type="text" />
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>
        <div id="tabs-3" role="tabpanel" class="tab-pane">
            @(Html.EJ().Schedule("Schedule1")
                .Width("100%")
                .Height("525px")
                .CurrentDate(new DateTime(2014, 6, 2))
                .AppointmentSettings(fields => fields.Datasource(ds => ds.URL("/Home/GetApp").CrudURL("/Home/Batch").Adaptor("UrlAdaptor"))
                .Id("ProgramId")
                .Subject("ProgramName")
                .StartTime("ProgramStartTime")
                .EndTime("ProgramEndTime")
                .Description("Comments")
                .AllDay("IsAllDay")
                .Recurrence("IsRecurrence")
                .RecurrenceRule("RecurrenceRule"))
            )
        </div>
    </div>


    @*}*@
</div>
